<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunsheng.yzb.mapper.AssetMapper" >
  <resultMap id="BaseResultMap" type="com.yunsheng.yzb.model.Asset" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
    <result column="asset_typeid" property="assetTypeid" jdbcType="INTEGER" />
    <result column="asset_typename" property="assetTypename" jdbcType="VARCHAR" />
    <result column="spe_model" property="speModel" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="purchase_date" property="purchaseDate" jdbcType="TIMESTAMP" />
    <result column="orig_value" property="origValue" jdbcType="VARCHAR" />
    <result column="service_life" property="serviceLife" jdbcType="VARCHAR" />
    <result column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="sto_location" property="stoLocation" jdbcType="VARCHAR" />
    <result column="resp_person" property="respPerson" jdbcType="VARCHAR" />
    <result column="asset_state" property="assetState" jdbcType="INTEGER" />
    <result column="depr_method" property="deprMethod" jdbcType="INTEGER" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="asset_desc" property="assetDesc" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="udate" property="udate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, asset_code, asset_name, asset_typeid, asset_typename, spe_model, manufacturer, 
    purchase_date, orig_value, service_life, dep_id, dep_name, sto_location, resp_person, 
    asset_state, depr_method, serial_num, asset_desc, attachment, cdate, udate,inventory_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yunsheng.yzb.model.AssetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunsheng.yzb.model.AssetExample" >
    delete from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunsheng.yzb.model.Asset" >
    insert into asset (id, asset_code, asset_name, 
      asset_typeid, asset_typename, spe_model, 
      manufacturer, purchase_date, orig_value, 
      service_life, dep_id, dep_name, 
      sto_location, resp_person, asset_state, 
      depr_method, serial_num, asset_desc, 
      attachment, cdate, udate
      )
    values (#{id,jdbcType=INTEGER}, #{assetCode,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, 
      #{assetTypeid,jdbcType=INTEGER}, #{assetTypename,jdbcType=VARCHAR}, #{speModel,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{purchaseDate,jdbcType=TIMESTAMP}, #{origValue,jdbcType=VARCHAR}, 
      #{serviceLife,jdbcType=VARCHAR}, #{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR}, 
      #{stoLocation,jdbcType=VARCHAR}, #{respPerson,jdbcType=VARCHAR}, #{assetState,jdbcType=INTEGER}, 
      #{deprMethod,jdbcType=INTEGER}, #{serialNum,jdbcType=VARCHAR}, #{assetDesc,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP}, #{udate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunsheng.yzb.model.Asset" >
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assetCode != null" >
        asset_code,
      </if>
      <if test="assetName != null" >
        asset_name,
      </if>
      <if test="assetTypeid != null" >
        asset_typeid,
      </if>
      <if test="assetTypename != null" >
        asset_typename,
      </if>
      <if test="speModel != null" >
        spe_model,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="purchaseDate != null" >
        purchase_date,
      </if>
      <if test="origValue != null" >
        orig_value,
      </if>
      <if test="serviceLife != null" >
        service_life,
      </if>
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_name,
      </if>
      <if test="stoLocation != null" >
        sto_location,
      </if>
      <if test="respPerson != null" >
        resp_person,
      </if>
      <if test="assetState != null" >
        asset_state,
      </if>
      <if test="deprMethod != null" >
        depr_method,
      </if>
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="assetDesc != null" >
        asset_desc,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="udate != null" >
        udate,
      </if>
      <if test="inventoryId != null" >
        inventory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetCode != null" >
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetTypeid != null" >
        #{assetTypeid,jdbcType=INTEGER},
      </if>
      <if test="assetTypename != null" >
        #{assetTypename,jdbcType=VARCHAR},
      </if>
      <if test="speModel != null" >
        #{speModel,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDate != null" >
        #{purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="origValue != null" >
        #{origValue,jdbcType=VARCHAR},
      </if>
      <if test="serviceLife != null" >
        #{serviceLife,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="stoLocation != null" >
        #{stoLocation,jdbcType=VARCHAR},
      </if>
      <if test="respPerson != null" >
        #{respPerson,jdbcType=VARCHAR},
      </if>
      <if test="assetState != null" >
        #{assetState,jdbcType=INTEGER},
      </if>
      <if test="deprMethod != null" >
        #{deprMethod,jdbcType=INTEGER},
      </if>
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="assetDesc != null" >
        #{assetDesc,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null" >
        #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="inventoryId != null" >
        #{inventoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunsheng.yzb.model.AssetExample" resultType="java.lang.Integer" >
    select count(*) from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asset
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assetCode != null" >
        asset_code = #{record.assetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.assetName != null" >
        asset_name = #{record.assetName,jdbcType=VARCHAR},
      </if>
      <if test="record.assetTypeid != null" >
        asset_typeid = #{record.assetTypeid,jdbcType=INTEGER},
      </if>
      <if test="record.assetTypename != null" >
        asset_typename = #{record.assetTypename,jdbcType=VARCHAR},
      </if>
      <if test="record.speModel != null" >
        spe_model = #{record.speModel,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null" >
        manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseDate != null" >
        purchase_date = #{record.purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.origValue != null" >
        orig_value = #{record.origValue,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceLife != null" >
        service_life = #{record.serviceLife,jdbcType=VARCHAR},
      </if>
      <if test="record.depId != null" >
        dep_id = #{record.depId,jdbcType=INTEGER},
      </if>
      <if test="record.depName != null" >
        dep_name = #{record.depName,jdbcType=VARCHAR},
      </if>
      <if test="record.stoLocation != null" >
        sto_location = #{record.stoLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.respPerson != null" >
        resp_person = #{record.respPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.assetState != null" >
        asset_state = #{record.assetState,jdbcType=INTEGER},
      </if>
      <if test="record.deprMethod != null" >
        depr_method = #{record.deprMethod,jdbcType=INTEGER},
      </if>
      <if test="record.serialNum != null" >
        serial_num = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.assetDesc != null" >
        asset_desc = #{record.assetDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null" >
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.cdate != null" >
        cdate = #{record.cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.udate != null" >
        udate = #{record.udate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inventoryId != null" >
        inventory_id = #{record.inventoryId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asset
    set id = #{record.id,jdbcType=INTEGER},
      asset_code = #{record.assetCode,jdbcType=VARCHAR},
      asset_name = #{record.assetName,jdbcType=VARCHAR},
      asset_typeid = #{record.assetTypeid,jdbcType=INTEGER},
      asset_typename = #{record.assetTypename,jdbcType=VARCHAR},
      spe_model = #{record.speModel,jdbcType=VARCHAR},
      manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      purchase_date = #{record.purchaseDate,jdbcType=TIMESTAMP},
      orig_value = #{record.origValue,jdbcType=VARCHAR},
      service_life = #{record.serviceLife,jdbcType=VARCHAR},
      dep_id = #{record.depId,jdbcType=INTEGER},
      dep_name = #{record.depName,jdbcType=VARCHAR},
      sto_location = #{record.stoLocation,jdbcType=VARCHAR},
      resp_person = #{record.respPerson,jdbcType=VARCHAR},
      asset_state = #{record.assetState,jdbcType=INTEGER},
      depr_method = #{record.deprMethod,jdbcType=INTEGER},
      serial_num = #{record.serialNum,jdbcType=VARCHAR},
      asset_desc = #{record.assetDesc,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      cdate = #{record.cdate,jdbcType=TIMESTAMP},
      udate = #{record.udate,jdbcType=TIMESTAMP}
      inventory_id = #{record.inventoryId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunsheng.yzb.model.Asset" >
    update asset
    <set >
      <if test="assetCode != null" >
        asset_code = #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetTypeid != null" >
        asset_typeid = #{assetTypeid,jdbcType=INTEGER},
      </if>
      <if test="assetTypename != null" >
        asset_typename = #{assetTypename,jdbcType=VARCHAR},
      </if>
      <if test="speModel != null" >
        spe_model = #{speModel,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDate != null" >
        purchase_date = #{purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="origValue != null" >
        orig_value = #{origValue,jdbcType=VARCHAR},
      </if>
      <if test="serviceLife != null" >
        service_life = #{serviceLife,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="stoLocation != null" >
        sto_location = #{stoLocation,jdbcType=VARCHAR},
      </if>
      <if test="respPerson != null" >
        resp_person = #{respPerson,jdbcType=VARCHAR},
      </if>
      <if test="assetState != null" >
        asset_state = #{assetState,jdbcType=INTEGER},
      </if>
      <if test="deprMethod != null" >
        depr_method = #{deprMethod,jdbcType=INTEGER},
      </if>
      <if test="serialNum != null" >
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="assetDesc != null" >
        asset_desc = #{assetDesc,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null" >
        udate = #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="inventoryId != null" >
        inventory_id = #{inventoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunsheng.yzb.model.Asset" >
    update asset
    set asset_code = #{assetCode,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      asset_typeid = #{assetTypeid,jdbcType=INTEGER},
      asset_typename = #{assetTypename,jdbcType=VARCHAR},
      spe_model = #{speModel,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      purchase_date = #{purchaseDate,jdbcType=TIMESTAMP},
      orig_value = #{origValue,jdbcType=VARCHAR},
      service_life = #{serviceLife,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=INTEGER},
      dep_name = #{depName,jdbcType=VARCHAR},
      sto_location = #{stoLocation,jdbcType=VARCHAR},
      resp_person = #{respPerson,jdbcType=VARCHAR},
      asset_state = #{assetState,jdbcType=INTEGER},
      depr_method = #{deprMethod,jdbcType=INTEGER},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      asset_desc = #{assetDesc,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      udate = #{udate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAsset" resultType="com.yunsheng.yzb.model.Asset">
    select id,
    asset_code assetCode,
    asset_name assetName,
      asset_typeid assetTypeid,
      asset_typename assetTypename,
      spe_model speModel,
      manufacturer,
      purchase_date purchaseDate,
      orig_value origValue,
      service_life serviceLife,
      dep_id depId,
      dep_name depName,
      sto_location stoLocation,
      resp_person respPerson,
      asset_state assetState,
      depr_method deprMethod,
      serial_num serialNum,
      asset_desc assetDesc,
      attachment,
      cdate,
      udate
      FROM asset WHERE 1=1
    <if test="assetCode!=null and assetCode!=''">
      AND asset_code LIKE concat('%', #{assetCode},'%')
    </if>
    <if test="assetName!=null and assetName!=''">
      AND asset_name LIKE concat('%', #{assetName},'%')
    </if>
    <if test="assetState!=null ">
      AND asset_state =#{assetState}
    </if>
    <if test="depId!=null ">
      AND dep_id =#{depId}
    </if>
    <if test="assetTypeid!=null ">
      AND asset_typeid =#{assetTypeid}
    </if>
    <if test="purchaseStart!=null and purchaseEnd!=null">
      AND purchase_date &gt;=#{purchaseStart} and purchase_date &lt;= #{purchaseEnd}
    </if>


  </select>
</mapper>