<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsheng.yzb.mapper.scm.StockOutItemMapper">
    <select id="selectStockOutCount" resultType="com.yunsheng.yzb.vo.scm.StockOutItemVo">
        select  (select warehouse from scm_inventory where id= inventory_id) inventory,

(select supplier_name from   scm_material where id=  material_id) supplierName,


 (select department_name from scm_stock_in_order where id=(SELECT stock_out_order_id FROM  scm_stock_out_item

WHERE inventory_id=inventory_id LIMIT 1


)) departmentName,

(select name from   scm_material where id=  material_id) materialName,
(select specification from   scm_material where id=  material_id) specification,

(select model from   scm_material where id=  material_id) model,

(select unit from   scm_material where id=  material_id) unit,

sum(outbound_quantity)  as allStockNum

 from scm_stock_out_item


GROUP BY inventory_id,material_id

    </select>
</mapper>
