<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunsheng.yzb.mapper.SysRoleDeptMapper">

    <resultMap id="BaseResultMap" type="com.yunsheng.yzb.model.SysRoleDept">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        SELECT id, role_id, dept_id, create_time
        FROM sys_role_dept
        WHERE role_id = #{roleId}
        ORDER BY dept_id ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO sys_role_dept (role_id, dept_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.deptId}, NOW())
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_dept WHERE role_id = #{roleId}
    </delete>

</mapper>

