<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunsheng.yzb.mapper.AssetTransferRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunsheng.yzb.model.AssetTransferRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="transfer_id" property="transferId" jdbcType="INTEGER" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="udate" property="udate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="asset_status" property="assetStatus" jdbcType="INTEGER" />
    <result column="asset_parts" property="assetParts" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="resp_persion" property="respPersion" jdbcType="VARCHAR" />
    <result column="resp_persion_id" property="respPersionId" jdbcType="INTEGER" />
    <result column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
    <result column="inventory_name" property="inventoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, transfer_id, cdate, udate, user_id, user_name, asset_status, asset_parts, remark, 
    status, reason, resp_persion, resp_persion_id, inventory_id, inventory_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yunsheng.yzb.model.AssetTransferRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset_transfer_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset_transfer_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset_transfer_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunsheng.yzb.model.AssetTransferRecordExample" >
    delete from asset_transfer_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunsheng.yzb.model.AssetTransferRecord" >
    insert into asset_transfer_record (id, transfer_id, cdate, 
      udate, user_id, user_name, 
      asset_status, asset_parts, remark, 
      status, reason, resp_persion, 
      resp_persion_id, inventory_id, inventory_name
      )
    values (#{id,jdbcType=INTEGER}, #{transferId,jdbcType=INTEGER}, #{cdate,jdbcType=TIMESTAMP}, 
      #{udate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{assetStatus,jdbcType=INTEGER}, #{assetParts,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{respPersion,jdbcType=VARCHAR}, 
      #{respPersionId,jdbcType=INTEGER}, #{inventoryId,jdbcType=INTEGER}, #{inventoryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunsheng.yzb.model.AssetTransferRecord" >
    insert into asset_transfer_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transferId != null" >
        transfer_id,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="udate != null" >
        udate,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="assetStatus != null" >
        asset_status,
      </if>
      <if test="assetParts != null" >
        asset_parts,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="respPersion != null" >
        resp_persion,
      </if>
      <if test="respPersionId != null" >
        resp_persion_id,
      </if>
      <if test="inventoryId != null" >
        inventory_id,
      </if>
      <if test="inventoryName != null" >
        inventory_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transferId != null" >
        #{transferId,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null" >
        #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null" >
        #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetParts != null" >
        #{assetParts,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="respPersion != null" >
        #{respPersion,jdbcType=VARCHAR},
      </if>
      <if test="respPersionId != null" >
        #{respPersionId,jdbcType=INTEGER},
      </if>
      <if test="inventoryId != null" >
        #{inventoryId,jdbcType=INTEGER},
      </if>
      <if test="inventoryName != null" >
        #{inventoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunsheng.yzb.model.AssetTransferRecordExample" resultType="java.lang.Integer" >
    select count(*) from asset_transfer_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asset_transfer_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transferId != null" >
        transfer_id = #{record.transferId,jdbcType=INTEGER},
      </if>
      <if test="record.cdate != null" >
        cdate = #{record.cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.udate != null" >
        udate = #{record.udate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.assetStatus != null" >
        asset_status = #{record.assetStatus,jdbcType=INTEGER},
      </if>
      <if test="record.assetParts != null" >
        asset_parts = #{record.assetParts,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.respPersion != null" >
        resp_persion = #{record.respPersion,jdbcType=VARCHAR},
      </if>
      <if test="record.respPersionId != null" >
        resp_persion_id = #{record.respPersionId,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryId != null" >
        inventory_id = #{record.inventoryId,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryName != null" >
        inventory_name = #{record.inventoryName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asset_transfer_record
    set id = #{record.id,jdbcType=INTEGER},
      transfer_id = #{record.transferId,jdbcType=INTEGER},
      cdate = #{record.cdate,jdbcType=TIMESTAMP},
      udate = #{record.udate,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      asset_status = #{record.assetStatus,jdbcType=INTEGER},
      asset_parts = #{record.assetParts,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      reason = #{record.reason,jdbcType=VARCHAR},
      resp_persion = #{record.respPersion,jdbcType=VARCHAR},
      resp_persion_id = #{record.respPersionId,jdbcType=INTEGER},
      inventory_id = #{record.inventoryId,jdbcType=INTEGER},
      inventory_name = #{record.inventoryName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunsheng.yzb.model.AssetTransferRecord" >
    update asset_transfer_record
    <set >
      <if test="transferId != null" >
        transfer_id = #{transferId,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null" >
        udate = #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null" >
        asset_status = #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetParts != null" >
        asset_parts = #{assetParts,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="respPersion != null" >
        resp_persion = #{respPersion,jdbcType=VARCHAR},
      </if>
      <if test="respPersionId != null" >
        resp_persion_id = #{respPersionId,jdbcType=INTEGER},
      </if>
      <if test="inventoryId != null" >
        inventory_id = #{inventoryId,jdbcType=INTEGER},
      </if>
      <if test="inventoryName != null" >
        inventory_name = #{inventoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunsheng.yzb.model.AssetTransferRecord" >
    update asset_transfer_record
    set transfer_id = #{transferId,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      udate = #{udate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      asset_status = #{assetStatus,jdbcType=INTEGER},
      asset_parts = #{assetParts,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      resp_persion = #{respPersion,jdbcType=VARCHAR},
      resp_persion_id = #{respPersionId,jdbcType=INTEGER},
      inventory_id = #{inventoryId,jdbcType=INTEGER},
      inventory_name = #{inventoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>