<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsheng.yzb.mapper.scm.SupplierQualificationMpMapper">

    <select id="selectQualificationViewPage" resultType="com.yunsheng.yzb.vo.scm.SupplierQualificationView">
        SELECT
            sq.id,
            sq.supplier_id,
            s.name as supplier_name,
            s.credit_code,
            s.legal_representative,
            sq.type,
            sq.certificate_name,
            sq.license_number,
            sq.license_type,
            sq.issue_date,
            sq.expiry_date,
            sq.issuing_authority,
            s.registered_capital,
            s.registration_date,
            s.address,
            sq.attachment_name,
            sq.license_file,
            sq.status,
            sq.create_time,
            sq.update_time
        FROM
            supplier_qualification sq
        LEFT JOIN
            supplier s ON sq.supplier_id = s.id
        <where>
            <if test="query.supplierId != null">
                AND sq.supplier_id = #{query.supplierId}
            </if>
            <if test="query.type != null and query.type != ''">
                AND sq.type = #{query.type}
            </if>
            <if test="query.certificateName != null and query.certificateName != ''">
                AND (sq.certificate_name LIKE CONCAT('%', #{query.certificateName}, '%')
                     OR s.name LIKE CONCAT('%', #{query.certificateName}, '%'))
            </if>
            <if test="query.licenseNumber != null and query.licenseNumber != ''">
                AND sq.license_number LIKE CONCAT('%', #{query.licenseNumber}, '%')
            </if>
            <if test="query.creditCode != null and query.creditCode != ''">
                AND s.credit_code LIKE CONCAT('%', #{query.creditCode}, '%')
            </if>
            <if test="query.legalRepresentative != null and query.legalRepresentative != ''">
                AND s.legal_representative LIKE CONCAT('%', #{query.legalRepresentative}, '%')
            </if>
            <if test="query.warningStatus == 'EXPIRED'">
                AND sq.expiry_date &lt; CURDATE()
            </if>
            <if test="query.warningStatus == 'EXPIRING_SOON'">
                AND sq.expiry_date BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 90 DAY)
            </if>
            <if test="query.warningStatus == 'VALID'">
                AND sq.expiry_date &gt; DATE_ADD(CURDATE(), INTERVAL 90 DAY)
            </if>
            <if test="query.warningDays != null">
                AND sq.expiry_date BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL #{query.warningDays} DAY)
            </if>
        </where>
        ORDER BY sq.update_time DESC, sq.create_time DESC
    </select>

</mapper>
